<section class="users-login">

  <header class="page-header">
    <h1>User &raquo; Login</h1>
  </header>

  <div class="well">
    <%= link_to 'Create Account', '/users/new', class: 'btn btn-info' %>
  </div>

  <div class="row">
    <div class="col-sm-6 col-sm-offset-1">
      <%= form_tag [:login] do %>

        <div class="form-group">
          <label>Email</label>
          <%= email_field_tag :email, "", class: 'form-control' %>
        </div>

        <div class="form-group">
          <label>Password</label>
          <%= password_field_tag :password, "", class: 'form-control'%>
        </div>

        <%= submit_tag 'Login', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>

</section>