<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Order Summary for Order #<%= @order.id %></h1>
    <p>
      We have successfully placed your order. Below is a summary of your order: <br>
    </p>

    <section>
      <div class="order-summary jumbotron">
        <h4>Thank you for your order!</h4>
        <h4><%= @order.email %></h4>
      </div>

      <div class="panel panel-default items">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Product</th>
              <th>Quantity</th>
            </tr>
          </thead>
          <tbody>
            <%= render 'item' %>
          </tbody>
          <tfoot>
            <tr>
              <th>
                TOTAL:
              </th>
              <th>
                <%= @line_items.size %>
              </th>
            </tr>
          </tfoot>
        </table>
      </div>
      <p>Final amount: $ <%= @order.total_cents / 100.0 %><p>
    </section>

    <p>Thanks for shopping with us and have a great day!</p>
  </body>
</html>